.curso-detalle-container ul {
  padding-left: 1.25rem;
}
.curso-detalle-container li {
  margin-bottom: 0.25rem;
}

.btn-yellow-custom {
  background-color: #ffc107;
  color: #ffffff;
  border: none;
  border-radius: 0.75rem;
  transition: background-color 0.3s ease, transform 0.2s;
}

.btn-yellow-custom:hover {
  background-color: #e0a800;
  transform: scale(1.03);
}

.btn-yellow-custom:active {
  background-color: #d39e00;
  transform: scale(0.98);
}

.contenedor{
  margin: 30px;
}