/* Estilos generales */
.seccion{
    background-image: url("/assets/rejilla.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.formulario {
  background: local;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.formulario {
  max-width: 730px;
  width: 90%;
}

.form-control, .form-select {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
  border-radius: .75rem;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.btn-warning {
  background-color: #ffc107;
  border: none;
}

.btn-warning:disabled {
  opacity: 0.6;
}

.btn-warning:not(:disabled):hover {
  background-color: #e0a800;
}

.video-container {
  display: flex;
  justify-content: center;  /* Centra el iframe horizontalmente */
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 1200px;  /* Tamaño máximo opcional */
  margin: 0 auto;    /* Centra el contenedor en la página */
}

.video-container iframe {
  border-radius: 10px;
  width: 100%;
  height: 630px;
}

#paypal-button-container {
  max-width: 400px;
  margin: 0 auto;
}

input::placeholder,
textarea::placeholder {
  color: rgb(202, 202, 202) !important;
  opacity: 1; /* para que sea visible */
}

.form-select {
  color: white !important; /* texto blanco */
  border: none !important;
}

.form-select option {
  background-color: rgba(33, 37, 41, 0.85); /* fondo oscuro para opciones */
  color: white; /* texto blanco */
}

.form-select option:hover,
.form-select option:focus {
  background-color: rgba(255, 193, 7, 0.3); /* opcional: color distinto al pasar el mouse */
  color: black;
}
