<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="logo.png" height="50px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 py-2 rounded-pill" routerLink="/curso" routerLinkActive="active">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 py-2 rounded-pill" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 py-2 rounded-pill" routerLink="/suscripcion" routerLinkActive="active">Suscripción</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <button class="btn btn-outline-light ms-2" (click)="togglePanel()">
          <i class="fas fa-universal-access"></i>
        </button>
        @if(mostrarPanel){
        <div class="accesibilidad-panel p-3 rounded bg-light text-dark shadow">
          <h5>Opciones de Accesibilidad</h5>
          <button (click)="iniciarLectura()">▶️ Leer</button>
          <button (click)="pausarLectura()">⏸️ Pausar</button>
          <button (click)="detenerLectura()">⏹️ Detener</button>
          <button class="btn btn-outline-dark btn-sm mt-2" (click)="toggleContraste()">♿ Contraste Alto</button>
          <div class="mt-3">
            <label for="fuenteSelect" class="form-label">Fuente:</label>
            <select id="fuenteSelect" class="form-select" (change)="cambiarFuente($event)">
              <option value="Arial" selected>Arial</option>
              <option value="Verdana">Verdana</option>
              <option value="'Roboto', sans-serif">Roboto</option>
            </select>
          </div>

          <div class="mt-3">
            <label for="sliderTexto" class="form-label">Tamaño de texto: {{ tamanoFuente }}%</label>
            <input
              id="sliderTexto"
              type="range"
              class="form-range"
              min="60"
              max="200"
              step="10"
              [(ngModel)]="tamanoFuente"
              (input)="cambiarTamanoTexto()"
            />
          </div>
        </div>

      }

        @if (currentUser) {
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle p-0" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/profile-placeholder.jpg" alt="Perfil" class="rounded-circle" width="40" height="40" style="cursor:pointer;">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li> <span class="dropdown-item-text d-flex align-items-center" style="gap: 6px;">
      <span>👤</span> {{ username }}
    </span></li>
            <li><hr class="dropdown-divider"></li>
            <li><button class="dropdown-item" (click)="logout()">Cerrar sesión</button></li>
            <a class="nav-link d-flex align-items-center" routerLink="/tablas" title="Ir a Tablas" routerLinkActive="active">
          <div style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"
                style="margin-left: 16px; margin-right: 5px;">
              <path d="M15 17h2" />
              <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
              <path d="M11 12h6" />
              <path d="M13 7h4" />
            </svg>
            <p style="margin: 0;">Consultar tablas.</p>
          </div>
        </a>
          </ul>
</li>

        } @else {
          <li class="nav-item">
            <a class="btn btn-warning rounded-pill fw-semibold text-dark px-4" href="#" data-bs-toggle="modal" data-bs-target="#adminLoginModal" style="text-decoration: none;">
              Login
            </a>
          </li>
          <span class="nav-link d-flex align-items-center text-muted" title="Inicia sesión para acceder" style="cursor: not-allowed;">
        </span>
        }
      </ul>
    </div>
  </div>
</nav>

<!-- Modal de login -->
<div class="modal fade" id="adminLoginModal" tabindex="-1" aria-labelledby="adminLoginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adminLoginModalLabel">Inicio de sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center px-4 py-4">
        @if(!mostrarRegistro){
        <form class="w-100" style="max-width: 320px;">
            <div class="mb-3">
              <label for="adminUsername" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control form-control-lg" id="adminUsername" placeholder="usuario@correo.com" [(ngModel)]="loginForm.email" name="email" required>
            </div>

            <div class="mb-3">
              <label for="adminPassword" class="form-label">Contraseña</label>
              <input type="password" class="form-control form-control-lg" id="adminPassword" placeholder="Contraseña" [(ngModel)]="loginForm.password" name="password" required>
            </div>

            <div class="mb-3 d-flex justify-content-between align-items-center">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Recuérdame</label>
              </div>
              <a href="#" class="small text-decoration-none">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
        <!-- CAPTCHA -->
        <div class="mb-3">
          <div class="g-recaptcha mx-auto d-block" data-sitekey="6LeLlGUrAAAAACRS6s1RjQpe7sjvCOzcEiLEW_Uj"></div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="login()">Iniciar sesión</button>
      </div>
        @if (loginError) {
          <div class="alert alert-danger mt-2">
            Usuario o contraseña incorrectos.
          </div>
        }
        <div class="mt-3 text-center">
          <button class="btn btn-link text-primary" (click)="alternarVistaRegistro()">¿No tienes cuenta? Regístrate</button>
        </div>
      }
      </div>

      @if (mostrarRegistro){
        <app-registro></app-registro>
        <div class="mt-2 text-center">
          <button class="btn btn-link text-secondary" (click)="alternarVistaRegistro()">¿Ya tienes cuenta? Inicia sesión</button>
        </div>
      }
      
    </div>
  </div>
</div>
