

.promo-bar {
  height: 210px;
  max-width: 95%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
}

.promo-bar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* Botón centrado sobre la imagen */
.promo-btn {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Anton', sans-serif;
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}

.container-text{
  font-weight: 700;
  margin-top: 10px;
}