<div class="position-relative w-100 promo-bar my-5">
  <img src="foto1.jpg" alt="Promo" class="img-fluid w-100 h-100 rounded-4 object-fit-cover">

  <!-- Texto encima del botón -->
  <div class="position-absolute top-50 start-50 translate-middle text-white text-center z-2 text-shadow-custom">
    <h2 class="fw-bold mb-3 display-5 display-md-4 display-sm-6">¡Primer mes gratis!</h2>
    <a routerLink="/suscripcion"
       class="btn btn-warning btn-lg btn-md px-4 py-2 text-uppercase fw-bold shadow rounded-pill text-white">
      ¡Inscríbete ya!
    </a>
  </div>
</div>
