

.promo-bar {
  height: 210px;
  max-width: 95%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
}

.promo-bar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* Botón centrado sobre la imagen */
.promo-btn {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Anton', sans-serif;
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}

.container-text{
  font-weight: 700;
  margin-top: 10px;
}
.text-shadow-custom {
  text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 873px) {
  .promo-bar h2 {
    font-size: 1.8rem;
  }

  .promo-bar a.btn {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 620px) {
  .promo-bar h2 {
    font-size: 1.2rem;
  }

  .promo-bar a.btn {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}
