.form-container {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  max-width: 900px;
  margin: 0 auto;
  max-height: 80%;
}

.form-fieldset {
  border: 2px solid #f1c40f;
  padding: 20px;
  border-radius: 10px;
}

.form-legend {
  font-size: 1.5rem;
  color: #f1c40f;
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
  color: #f1c40f;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #f1c40f;
  border-radius: 5px;
  color: white;
}

.form-control:focus {
  border-color: #f39c12;
  box-shadow: 0 0 5px rgba(241, 196, 15, 0.5);
}

.text-danger {
  color: #e74c3c;
}

.btn-primary {
  background-color: #f1c40f;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #f39c12;
}
