<div class="conteiner-flex">
    <div class="card" style="width: 22rem;">
    <div class="card-body">
        <h5 class="card-title">Plan Basico</h5>
        <p class="card-text">A solo $299 mensuales</p>
    </div>
    <ul class="list-group list-group-flush" id="info">
        <li class="list-group-item"><img src="assets/check.png" alt=""> Acceso libre en horario regular</li>
        <li class="list-group-item"><img src="assets/check.png" alt="">Rutinas guiadas para principiantes</li>
        <li class="list-group-item"><img src="assets/check.png" alt="">1 asesoria mensual con entrenador</li>
        <li class="list-group-item"><img src="assets/check.png" alt="">Acceso a 2 cursos grupales</li>
        <li class="list-group-item"><img src="assets/check.png" alt="">Acceso a cualquier instalacion de la sucursal</li>
        <li class="list-group-item"><img src="assets/check.png" alt="">Plan nutricional general</li>
         <li class="list-group-item"><img src="assets/cancel.png" alt="">Descuentos en Alimentos y bebidas del gimnasio</li>
        <li class="list-group-item"><img src="assets/cancel.png" alt="">Acceso VIP: zona de descanso, sauna, masajes deportivos</li>
        <li class="list-group-item"><img src="assets/cancel.png" alt=""> Invitaciones a eventos y torneos del gimnasio</li>

    </ul>
    </div>
    <div class="card" style="width: 22rem;">
         <div class="card-body">
            <h5 class="card-title">Plan Intermedio</h5>
            <p class="card-text">A solo $399 mensuales</p>
        </div>
        <ul class="list-group list-group-flush" id="info">
            <li class="list-group-item"><img src="assets/check.png" alt=""> Acceso libre en horario extendido</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Rutinas personalizadas con atención mensual</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">2 asesorias mensuales con entrenador</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Acceso a 3 cursos grupales</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Evaluacion de Progreso cada 2 meses</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Plan nutricional personalizado</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Descuentos en Alimentos y bebidas del gimnasio</li>
            <li class="list-group-item"><img src="assets/cancel.png" alt="">Acceso VIP: zona de descanso, sauna, masajes deportivos</li>
            <li class="list-group-item"><img src="assets/cancel.png" alt=""> Invitaciones a eventos y torneos del gimnasio</li>

        </ul>
    </div>
    <div class="card" style="width: 22rem;">
         <div class="card-body">
            <h5 class="card-title">Plan Avanzado</h5>
            <p class="card-text">A solo $449 mensuales</p>
        </div>
        <ul class="list-group list-group-flush" id="info">
            <li class="list-group-item"><img src="assets/check.png" alt=""> Acceso ilimitado al gimnasio</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Rutinas avanzadas actualizadas cada 15 dias</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">4 sesiones mensuales con entrenador</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Acceso a 5 cursos grupales</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Seguimiento mensual con evaluación fisica y de composicion corporal</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Plan nutricional especifico, con consultas a nutricionista</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Descuentos en Alimentos y bebidas del gimnasio</li>
            <li class="list-group-item"><img src="assets/check.png" alt="">Acceso VIP: zona de descanso, sauna, masajes deportivos</li>
            <li class="list-group-item"><img src="assets/check.png" alt=""> Invitaciones a eventos y torneos del gimnasio</li>
        </ul>
    </div>
</div>